<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Search</title>
</head>
<body>
    <form method = "POST" action="/books/search">
        <label for="search-input">Введите поисковый запрос</label>
        <input type="text" id="search-input" name="search"/>
        <input type="submit" value="Искать!"/>
    </form>
    <div th:if="${books != null}" th:each="bok : ${books}">
        <a th:href="@{/books/{id}(id=${bok.getId()})}"
           th:text="${bok.getName()+ ', ' + bok.getAuthor() + ', ' + bok.getYear()}">user</a>
    </div>
</body>
</html>